{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"bracketSpacing": false,
	"plugins": [
		"@prettier/plugin-oxc",
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss"
	]
}
